
body {
  margin: 24px 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  --accent-color: #076EFF;
  color: #202124;
}

main, .api-key-banner {
  width: 100%;
  padding: 24px 12px;
  max-width: 460px;
  margin: 0 auto;
  border-radius: 20px;
}

* {
  outline-color: var(--accent-color);
}

main {
  background-color: #fff;
}

h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  font-size: 24px;
  justify-content: center;
}

.api-key-banner {
  background-color: #FFDDB7;
  font-weight: bold;
  margin-bottom: 16px;
}

.api-key-banner a {
  color: var(--accent-color);
}

.title::before {
  content: '';
  display: inline-block;
  background: url(images/gemini.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
}

form {
  margin: 0;
}

/* Estilos para el bot칩n de despliegue */
.deploy-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #1a73e8; /* Un azul m치s alineado con Google */
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 24px;
    border: none; /* Asegurar que no haya borde por defecto */
    cursor: pointer;
    transition: background-color 0.3s;
}

.deploy-button:hover {
    background-color: #185abc; /* Un azul m치s oscuro al pasar el rat칩n */
}
